{
  "presets": [
    "babel-preset-expo",
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./"],
      "alias": {
        "@": "./src",
        "@cmp": "./src/components",
        "@pub": "./public",
      }
    }],
    "graphql-tag"
  ]
}
