{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./"],
      "alias": {
        "@": "./src",
        "@cmp": "./src/components",
        "@pub": "./public",
      }
    }],
    "graphql-tag",
    "react-native-classname-to-style",
    ["react-native-platform-specific-extensions", {
      "extensions": ["scss", "sass"]
    }]
  ]
}
