{
  "presets": [
    "babel-preset-expo",
  ],
  "plugins": [
    ["module-resolver", {
      "cwd": "babelrc",
      "root": ["./"],
      "alias": {
        "@": "./src"
      }
    }],
    "graphql-tag"
  ]
}
