.Chat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;

  background-color: #000;
}

.text {
  color: #fff;
}

.Message {
  padding: 12px 32px;
  width: 100%;
}

.Messages {
  flex-grow: 1;
}

.me {
  color: #888;
}

.Composer {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  color: #fff;
  flex: 1;
}

.Icon {
  padding: 16px;
}
