.Home {
  display: flex;
  flex: 1;

  background-color: #000;
}

.Chat {
  display: flex;
  background: #000;
  flex: 1;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 12px 32px;
}

.left {
  display: flex;
  flex: 1;
}

.right {
  display: flex;
  margin-left: auto;
  padding-left: 16px;
}

.title {
  color: #fff;
}

.text {
  color: #888;
}
