.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  background-color: #000;
}

.Chat {
  background: #000;
}

.title {
  color: #fff;
}

.text {
  color: #888;
}

.inner {
  padding: 12px 32px;
}
